/* initial styling */
body,
ul {
  margin: 0;
  padding: 0;
  background-color: #191765;
  color: white;
}

li {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: white;
}

/* common classes */

/* Main */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

h3 {
  font-family: Arial, sans-serif, 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

h1 {
  color: #7d73fc;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
}

p {
  margin: 0 24px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

hr {
  margin: 0 24px 37.33px 24px;
}

.title {
  color: #9490ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.skills-margin {
  margin: 0 63.58px 41px 0;
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 43.17px;
}

.social-flex {
  display: flex;
  justify-content: space-around;
  margin: 0 97px;
}

.size {
  width: 17.99px;
}
